<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">プロフィールの編集</div>
      <div class="panel-body">
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>