<ul class="media-list">
  <% courses.each do |course| %>
    <li class="media">
      <div class="media-body">
        <div>
          <%= link_to "#{course.name}(#{course.users.count})", course %>
        </div>
      </div>
    </li>
  <% end %>
</ul>