<h1><%= @course.name %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>名前</th>
        <th>勤務場所</th>
        <th>プロフィール更新日</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.location %></td>
          <td><%= user.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

