<h2>経理の通信講座を受講している皆さまへ</h2><br><br>
<p>このたび通信講座の受講者一覧を確認できるサイトを<br>
開設いたしました。<br>
本サイトは受講者の皆様が現在受講中の講座を登録<br>
することで、各々の登録情報から各講座の<br>
受講者一覧を確認できる仕様となっております。<br><br>

多くの受講者の方に受講中の講座を登録して頂くことで<br>
成り立つサービスとなっておりますので、<br>
是非「新規登録」画面からの登録にご協力お願いいたします。<br>
また知り合いでまだ登録がおすみでない方がおられ<br>
ましたら下記URLを転送していただければ幸いです。<br><br>

https://keiri-tsushinkoza-match.herokuapp.com/
</p>
